In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel('CAP20c.xlsx')
df1['sample']= 999
df1.head()

,Manufacturer,no.labs,1_Mean%HBA1c,1_Mean bias,1_%cv,2_Mean%HBA1c,2_Mean bias,2_%cv,3_Mean%HBA1c,3_Mean bias,3_%cv,4_Mean%HBA1c,4_Mean bias,4_%cv,5_Mean%HBA1c,5_Mean bias,5_%cv,sample
0,Abbott Alinity ci series,53,5.34,-0.14,3.1,8.28,0.02,2.2,5.01,-0.14,3.3,10.17,0.12,1.0,5.87,-0.12,2.2,999
1,Abbott Architect c System,236,5.36,-0.12,1.7,8.31,0.05,1.3,5.04,-0.11,1.7,10.22,0.17,0.9,5.91,-0.08,1.3,999
2,Alere Afinion 2,56,5.42,-0.06,2.1,8.09,-0.17,1.6,5.11,-0.04,1.9,9.83,-0.22,1.5,5.86,-0.13,1.8,999
3,Alere Afinion AS100,112,5.30,-0.18,2.1,8.05,-0.21,1.9,5.06,-0.09,2.0,9.85,-0.20,1.7,5.85,-0.14,2.5,999
4,ARKRAY Adams HA-8180\nseries,24,5.54,0.06,1.8,8.32,0.06,1.4,5.18,0.03,1.7,10.08,0.03,1.4,6.01,0.02,1.7,999

In [3]:
df2 = pd.read_excel('CAP20b.xlsx')
df2['sample']= 999
df2.head()

,Manufacturer,no.labs,1_Mean%HBA1c,1_Mean bias,1_%cv,2_Mean%HBA1c,2_Mean bias,2_%cv,3_Mean%HBA1c,3_Mean bias,3_%cv,4_Mean%HBA1c,4_Mean bias,4_%cv,5_Mean%HBA1c,5_Mean bias,5_%cv,sample
0,Abbott Alinity ci series,36,7.79,-0.02,1.4,5.78,-0.13,1.6,8.63,-0.06,1.7,5.76,-0.10,1.4,9.53,-0.03,1.6,999
1,Abbott Architect c System,214,7.86,0.05,1.1,5.82,-0.09,1.1,8.76,0.07,0.9,5.79,-0.07,1.3,9.60,0.04,1.0,999
2,Alere Afinion 2,29,7.70,-0.11,1.4,5.83,-0.08,1.7,8.64,-0.05,1.5,5.79,-0.07,1.8,9.62,0.06,1.7,999
3,Alere Afinion AS100,26,7.65,-0.16,1.7,5.80,-0.11,2.6,8.60,-0.09,2.1,5.73,-0.13,3.1,9.60,0.04,2.0,999
4,ARKRAY Adams HA-8180\nseries,12,7.86,0.05,1.3,5.90,-0.01,0.7,8.73,0.04,1.3,5.93,0.07,1.3,9.57,0.01,1.0,999

In [4]:
df3 = pd.read_excel('CAP20a.xlsx')
df3['sample']= 999
df3 = df3.replace('-', np.nan)
df3.head()

,Manufacturer,no.labs,1_Mean%HBA1c,1_Mean bias,1_%cv,2_Mean%HBA1c,2_Mean bias,2_%cv,3_Mean%HBA1c,3_Mean bias,3_%cv,4_Mean%HBA1c,4_Mean bias,4_%cv,5_Mean%HBA1c,5_Mean bias,5_%cv,sample
0,Abbott Alinity ci series,19,8.03,0.06,1.2,5.84,-0.05,1.2,5.05,-0.08,1.4,7.39,-0.01,1.0,9.28,0.11,1.0,999
1,Abbott Architect c System,235,8.10,0.13,1.0,5.90,0.01,1.0,5.10,-0.03,1.1,7.46,0.06,1.1,9.35,0.18,1.2,999
2,Alere Afinion 2,24,7.85,-0.12,1.9,5.88,-0.01,2.1,5.11,-0.02,2.4,7.40,0.00,2.1,8.96,-0.21,1.8,999
3,Alere Afinion AS100,79,7.86,-0.11,2.2,5.85,-0.04,2.7,5.09,-0.04,2.7,7.39,-0.01,3.0,9.01,-0.16,2.7,999
4,ARKRAY Adams HA-8180\nseries,16,8.03,0.06,1.6,5.92,0.03,1.7,5.14,0.01,1.2,7.30,-0.10,1.9,9.18,0.01,1.3,999

In [5]:
def organizeDF(df):
    test = df[['Manufacturer','no.labs','1_Mean%HBA1c','1_Mean bias','1_%cv']]
    test2 = df[['Manufacturer','no.labs','2_Mean%HBA1c','2_Mean bias','2_%cv']]
    test3 = df[['Manufacturer','no.labs','3_Mean%HBA1c','3_Mean bias','3_%cv']]
    test4 = df[['Manufacturer','no.labs','4_Mean%HBA1c','4_Mean bias','4_%cv']]
    test5 = df[['Manufacturer','no.labs','5_Mean%HBA1c','5_Mean bias','5_%cv']]
    test2 = test2.rename(columns= {'2_Mean%HBA1c':'1_Mean%HBA1c','2_Mean bias':'1_Mean bias','2_%cv':'1_%cv'})
    test3 = test3.rename(columns= {'3_Mean%HBA1c':'1_Mean%HBA1c','3_Mean bias':'1_Mean bias','3_%cv':'1_%cv'})
    test4 = test4.rename(columns= {'4_Mean%HBA1c':'1_Mean%HBA1c','4_Mean bias':'1_Mean bias','4_%cv':'1_%cv'})
    test5 = test5.rename(columns= {'5_Mean%HBA1c':'1_Mean%HBA1c','5_Mean bias':'1_Mean bias','5_%cv':'1_%cv'})
    test6 = pd.concat([test,test2])
    test7 = pd.concat([test6,test3])
    test8 = pd.concat([test7,test4])
    test9 = pd.concat([test8,test5])
    test10 = test9.rename(columns= {'1_Mean%HBA1c':'Mean%HBA1c','1_Mean bias':'Mean bias','1_%cv':'%cv'})
    return test9

In [6]:
df = pd.read_excel('CAP20c.xlsx')

In [7]:
def capc(df):
    test = df[['Manufacturer','no.labs','1_Mean%HBA1c','1_Mean bias','1_%cv','sample']]
    test = test.replace(999,'GH5-11')
    test2 = df[['Manufacturer','no.labs','2_Mean%HBA1c','2_Mean bias','2_%cv','sample']]
    test2 = test2.replace(999,'GH5-12')
    test3 = df[['Manufacturer','no.labs','3_Mean%HBA1c','3_Mean bias','3_%cv','sample']]
    test3 = test3.replace(999,'GH5-13')
    test4 = df[['Manufacturer','no.labs','4_Mean%HBA1c','4_Mean bias','4_%cv','sample']]
    test4 = test4.replace(999,'GH5-14')
    test5 = df[['Manufacturer','no.labs','5_Mean%HBA1c','5_Mean bias','5_%cv','sample']]
    test5 = test5.replace(999,'GH5-15')
    test2 = test2.rename(columns= {'2_Mean%HBA1c':'1_Mean%HBA1c','2_Mean bias':'1_Mean bias','2_%cv':'1_%cv'})
    test3 = test3.rename(columns= {'3_Mean%HBA1c':'1_Mean%HBA1c','3_Mean bias':'1_Mean bias','3_%cv':'1_%cv'})
    test4 = test4.rename(columns= {'4_Mean%HBA1c':'1_Mean%HBA1c','4_Mean bias':'1_Mean bias','4_%cv':'1_%cv'})
    test5 = test5.rename(columns= {'5_Mean%HBA1c':'1_Mean%HBA1c','5_Mean bias':'1_Mean bias','5_%cv':'1_%cv'})
    test6 = pd.concat([test,test2])
    test7 = pd.concat([test6,test3])
    test8 = pd.concat([test7,test4])
    test9 = pd.concat([test8,test5])
    test10 = test9.rename(columns= {'1_Mean%HBA1c':'Mean%HBA1c','1_Mean bias':'Mean bias','1_%cv':'%cv'})
    return test10

In [8]:
def capb(df):
    test = df[['Manufacturer','no.labs','1_Mean%HBA1c','1_Mean bias','1_%cv','sample']]
    test = test.replace(999,'GH5-6')
    test2 = df[['Manufacturer','no.labs','2_Mean%HBA1c','2_Mean bias','2_%cv','sample']]
    test2 = test2.replace(999,'GH5-7')
    test3 = df[['Manufacturer','no.labs','3_Mean%HBA1c','3_Mean bias','3_%cv','sample']]
    test3 = test3.replace(999,'GH5-8')
    test4 = df[['Manufacturer','no.labs','4_Mean%HBA1c','4_Mean bias','4_%cv','sample']]
    test4 = test4.replace(999,'GH5-9')
    test5 = df[['Manufacturer','no.labs','5_Mean%HBA1c','5_Mean bias','5_%cv','sample']]
    test5 = test5.replace(999,'GH5-10')
    test2 = test2.rename(columns= {'2_Mean%HBA1c':'1_Mean%HBA1c','2_Mean bias':'1_Mean bias','2_%cv':'1_%cv'})
    test3 = test3.rename(columns= {'3_Mean%HBA1c':'1_Mean%HBA1c','3_Mean bias':'1_Mean bias','3_%cv':'1_%cv'})
    test4 = test4.rename(columns= {'4_Mean%HBA1c':'1_Mean%HBA1c','4_Mean bias':'1_Mean bias','4_%cv':'1_%cv'})
    test5 = test5.rename(columns= {'5_Mean%HBA1c':'1_Mean%HBA1c','5_Mean bias':'1_Mean bias','5_%cv':'1_%cv'})
    test6 = pd.concat([test,test2])
    test7 = pd.concat([test6,test3])
    test8 = pd.concat([test7,test4])
    test9 = pd.concat([test8,test5])
    test10 = test9.rename(columns= {'1_Mean%HBA1c':'Mean%HBA1c','1_Mean bias':'Mean bias','1_%cv':'%cv'})
    return test10

In [9]:
def capa(df):
    test = df[['Manufacturer','no.labs','1_Mean%HBA1c','1_Mean bias','1_%cv','sample']]
    test = test.replace(999,'GH5-1')
    test2 = df[['Manufacturer','no.labs','2_Mean%HBA1c','2_Mean bias','2_%cv','sample']]
    test2 = test2.replace(999,'GH5-2')
    test3 = df[['Manufacturer','no.labs','3_Mean%HBA1c','3_Mean bias','3_%cv','sample']]
    test3 = test3.replace(999,'GH5-3')
    test4 = df[['Manufacturer','no.labs','4_Mean%HBA1c','4_Mean bias','4_%cv','sample']]
    test4 = test4.replace(999,'GH5-4')
    test5 = df[['Manufacturer','no.labs','5_Mean%HBA1c','5_Mean bias','5_%cv','sample']]
    test5 = test5.replace(999,'GH5-5')
    test2 = test2.rename(columns= {'2_Mean%HBA1c':'1_Mean%HBA1c','2_Mean bias':'1_Mean bias','2_%cv':'1_%cv'})
    test3 = test3.rename(columns= {'3_Mean%HBA1c':'1_Mean%HBA1c','3_Mean bias':'1_Mean bias','3_%cv':'1_%cv'})
    test4 = test4.rename(columns= {'4_Mean%HBA1c':'1_Mean%HBA1c','4_Mean bias':'1_Mean bias','4_%cv':'1_%cv'})
    test5 = test5.rename(columns= {'5_Mean%HBA1c':'1_Mean%HBA1c','5_Mean bias':'1_Mean bias','5_%cv':'1_%cv'})
    test6 = pd.concat([test,test2])
    test7 = pd.concat([test6,test3])
    test8 = pd.concat([test7,test4])
    test9 = pd.concat([test8,test5])
    test10 = test9.rename(columns= {'1_Mean%HBA1c':'Mean%HBA1c','1_Mean bias':'Mean bias','1_%cv':'%cv'})
    return test10

In [10]:
df1= capc(df1)
df2= capb(df2)
df3= capa(df3)

In [14]:
concat = pd.concat([df1,df2])
complete = pd.concat([concat,df3])
complete = complete.sort_values(by='Manufacturer')
complete = complete.reset_index(drop=True)
complete['year'] = 2020
complete

,Manufacturer,no.labs,Mean%HBA1c,Mean bias,%cv,sample,year
0,ARKRAY Adams HA-8180\nseries,24,5.18,0.03,1.7,GH5-13,2020
1,ARKRAY Adams HA-8180\nseries,12,8.73,0.04,1.3,GH5-8,2020
2,ARKRAY Adams HA-8180\nseries,24,10.08,0.03,1.4,GH5-14,2020
3,ARKRAY Adams HA-8180\nseries,12,9.57,0.01,1.0,GH5-10,2020
4,ARKRAY Adams HA-8180\nseries,16,9.18,0.01,1.3,GH5-5,2020
...,...,...,...,...,...,...,...
405,"Vitros 5,1 FS/4600/5600/XT\n7600 Chem. Systems",200,5.28,-0.20,2.3,GH5-11,2020
406,"Vitros 5,1 FS/4600/5600/XT\n7600 Chem. Systems",200,9.77,-0.28,2.9,GH5-14,2020
407,"Vitros 5,1 FS/4600/5600/XT\n7600 Chem. Systems",200,5.81,-0.18,2.5,GH5-15,2020
408,"Vitros 5,1 FS/4600/5600/XT\n7600 Chem. Systems",200,8.20,-0.06,3.0,GH5-12,2020
409,"Vitros 5,1 FS/4600/5600/XT\n7600 Chem. Systems",200,4.94,-0.21,2.2,GH5-13,2020